@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

html {
  font-size: 16px;
}

::-webkit-scrollbar {
  background: hsl(220, 69.7%, 61.18%);
  width: 7px;
}

body {
  background-color: #2c393e;
  overflow-x: hidden;
  text-transform: capitalize;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100vh;
  font-family: "Barlow", sans-serif;
}

.nav {
  display: flex;
  align-items: center;
  padding: 12px;
  justify-content: space-around;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 1000;
  position: sticky;
}
.nav .logo {
  width: 120px;
  height: 50px;
}
.nav .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.nav .links {
  padding: 10px;
  width: 45%;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}
.nav .links a {
  text-decoration: none;
  color: #161f23;
  font-size: 15px;
  background-color: linear-gradient(to right, #f4e185, hsl(220, 69.7%, 61.18%));
  font-weight: 500;
  padding: 5px;
  transition: 1s;
  padding-left: 2PX;
  transition-duration: 1s;
}
.nav .links a:hover {
  color: transparent;
  transform: scale(1.2);
  background: linear-gradient(to right, #f4e185, hsl(220, 69.7%, 61.18%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav .links h1 {
  color: transparent;
  background: linear-gradient(to right, #f4e185, hsl(220, 69.7%, 61.18%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.landing_home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #2e373d;
  height: 550px;
}
.landing_home .left-side {
  width: 50%;
  height: 100%;
}
.landing_home .left-side img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.landing_home .right-side {
  width: 50%;
  height: 100%;
  position: relative;
}
.landing_home .right-side img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.landing_home .right-side .absolute {
  position: absolute;
  width: 70%;
  left: 50px;
  top: 120px;
  transform: translate(-50px -50px);
  line-height: 1.4;
  margin-top: -45px;
}
.landing_home .right-side .absolute h1 {
  font-size: 80px;
  color: transparent;
  background: linear-gradient(to right, #f4e185, hsl(220, 69.7%, 61.18%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.landing_home .right-side .absolute p {
  color: rgb(216, 206, 206);
  line-height: 1.8;
}
.landing_home .right-side .absolute a {
  font-size: 17px;
  background-color: hsl(220, 69.7%, 61.18%);
  width: 150px;
  display: flex;
  justify-content: center;
  padding: 7px;
  border-radius: 3px;
  margin-top: 30px;
  text-decoration: none;
  color: #ffffff;
  background: linear-gradient(to right, #f4e185, hsl(220, 69.7%, 61.18%));
  transition: 1s;
}

.index {
  width: 100%;
  height: 100%;
  background-color: rgba(24, 34, 42, 0.8509803922);
  position: absolute;
}

.headder {
  background-color: #161f23;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headder .right-icon {
  width: 30%;
  cursor: pointer;
}
.headder .right-icon svg {
  width: 30px;
  fill: hsl(220, 69.7%, 61.18%);
  height: 20px;
  margin-left: 29px;
  transition: 1s;
}
.headder .right-icon svg:hover {
  fill: #f4e185;
  transform: scale(1.2);
}
.headder .left-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headder .left-icon .part-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  color: whitesmoke;
}
.headder .left-icon .part-contact p {
  font-size: 13px;
  cursor: pointer;
}
.headder .left-icon .part-contact svg {
  width: 13px;
  height: 13px;
  fill: white;
  color: white;
  margin-left: 20px;
  margin-right: 5px;
}
.headder .offer {
  text-align: center;
  margin: auto;
  color: #ffffff;
  background-color: linear-gradient(to right, #f4e185, hsl(220, 69.7%, 61.18%));
  width: 20%;
  padding: 12px;
  background: linear-gradient(to right, #f4e185, hsl(220, 69.7%, 61.18%));
}
.headder .offer h1 {
  font-size: 17px;
}

.subscribe {
  background-image: url("../../images/newslatter-bg.png");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  height: 450px;
  padding: 20px;
}
.subscribe .subscribe_form {
  width: 50%;
  line-height: 2;
  z-index: 2;
}
.subscribe .subscribe_form form {
  border: 2px solid #f4e185;
  border-radius: 5px;
  width: 70%;
  display: flex;
  margin-left: 5%;
  margin-top: 20px;
}
.subscribe .subscribe_form form button {
  width: 30%;
  padding: 8px;
  font-size: 16px;
  color: whitesmoke;
  border: none;
  outline: none;
  background: linear-gradient(to right, #f4e185, hsl(220, 69.7%, 61.18%));
}
.subscribe .subscribe_form form input {
  padding: 8px;
  width: 70%;
  border: none;
  background: transparent;
  font-family: poppins;
  color: hsl(220, 69.7%, 61.18%);
  font-size: 16px;
  font-style: italic;
  outline: none;
}
.subscribe .subscribe_form form input ::-moz-placeholder {
  color: #161f23;
}
.subscribe .subscribe_form form input ::placeholder {
  color: #161f23;
}
.subscribe .subscribe_form p {
  line-height: 1.5;
  color: #ffffff;
}
.subscribe .subscribe_form h1 {
  color: #ffffff;
  font-size: 45px;
  line-height: 1.4;
}
.subscribe .subscribe_form h1 span {
  color: transparent;
  background: linear-gradient(to right, #f4e185, hsl(220, 69.7%, 61.18%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 45px;
}
.subscribe .subscribe_form .text-paragraph {
  width: 50%;
  text-align: justify;
  margin-bottom: 10px;
  margin-left: 40px;
}
.subscribe .subscribe_form .text-paragraph h1 {
  font-size: 40px;
}
.subscribe .subscribe_form .text-paragraph p {
  margin-top: 10px;
  margin-bottom: 10px;
}
.subscribe .about-description {
  height: 100%;
  width: 50%;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  gap: 20px;
  padding: 24px;
}
.subscribe .about-description .card {
  width: 80%;
  height: 180px;
  border-radius: 5px;
  border: 2px solid #f4e185;
}

::-moz-placeholder {
  color: #ffffff;
  font-size: 13px;
  text-transform: capitalize;
  padding-left: 20px;
}

::placeholder {
  color: #ffffff;
  font-size: 13px;
  text-transform: capitalize;
  padding-left: 20px;
}

.sub {
  width: 100%;
  height: 450px;
  position: relative;
}
.sub .position {
  background-color: rgba(22, 31, 35, 0.6823529412);
  height: 100%;
  width: 100%;
  position: absolute;
}

.main-footer {
  width: 100%;
  height: 400px;
  position: relative;
}
.main-footer .position {
  background-color: rgba(22, 31, 35, 0.9803921569);
  height: 100%;
  width: 100%;
  position: absolute;
}
.main-footer .fotter {
  background-image: url("../../images/bg1.png");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  height: 400px;
  padding: 20px;
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-footer .fotter .description {
  z-index: 10;
  color: white;
  width: 50%;
  text-align: justify;
  line-height: 3;
  padding: 10px;
}
.main-footer .fotter .description p {
  font-size: 15px;
  line-height: 1.8;
}
.main-footer .fotter .links {
  z-index: 2;
  width: 30%;
  margin: 25px;
}
.main-footer .fotter .links h1 {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 20px;
}
.main-footer .fotter .links a {
  display: flex;
  line-height: 2;
  text-align: justify;
  text-decoration: none;
  color: whitesmoke;
  transition: 1s;
  font-size: 15px;
}
.main-footer .fotter .links a:hover {
  color: #2c393e;
  transform: scale(1.1);
  color: transparent;
  background: linear-gradient(to right, #f4e185, hsl(220, 69.7%, 61.18%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-footer .fotter .galerys {
  width: 60%;
  z-index: 2;
}
.main-footer .fotter .galerys h1 {
  color: #ffffff;
  z-index: 2;
  font-size: 20px;
  text-align: center;
}
.main-footer .fotter .galerys .gallery {
  z-index: 10;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  gap: 20px;
  padding: 24px;
  width: 100%;
}
.main-footer .fotter .galerys .gallery .card {
  width: 100%;
  height: 70px;
  border-radius: 5px;
  z-index: 10;
}
.main-footer .fotter .galerys .gallery .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  z-index: 10;
}

a.active {
  color: transparent;
  background: linear-gradient(to right, #f4e185, hsl(220, 69.7%, 61.18%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tour_package {
  width: 100%;
  background-color: rgb(242, 247, 251);
}
.tour_package .header {
  width: 100%;
  padding: 40px;
  display: flex;
  justify-content: space-between;
}
.tour_package .header a {
  width: 15%;
  padding: 8px;
  font-size: 16px;
  color: whitesmoke;
  border: none;
  height: 45px;
  outline: none;
  background: linear-gradient(to right, #f4e185, hsl(220, 69.7%, 61.18%));
  text-decoration: none;
  border-radius: 7px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.tour_package .header .left {
  width: 50%;
  font-size: 30px;
}
.tour_package .header .left h1 {
  font-size: 18px;
  color: #161f23;
  font-size: 25px;
}
.tour_package .header .left p {
  line-height: 1.5;
  font-size: 14px;
  text-align: justify;
  margin-top: 20px;
}

.data-card {
  text-align: center;
  padding: 40px;
}
.data-card span {
  color: #2c393e;
  font-size: 20px;
  text-align: center;
}
.data-card .package-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  gap: 5px;
  row-gap: 20px;
}
.data-card .package-grid a {
  text-decoration: none;
}
.data-card .package-grid .package-card {
  margin: 8px;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
}
.data-card .package-grid .package-card .images {
  width: 100%;
  height: 240px;
}
.data-card .package-grid .package-card .images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.curve {
  background: linear-gradient(to right, #f4e185, hsl(220, 69.7%, 61.18%));
  padding: 6px;
  color: white;
  text-decoration: none;
  width: 40%;
  margin: auto;
  position: absolute;
  left: 10%;
  top: 55%;
  transform: skew(30deg);
}
.curve p {
  font-size: 13px;
}

.package-details {
  margin-top: 20px;
  padding: 10px;
  text-align: justify;
}
.package-details h2 {
  color: #161f23;
  font-size: 17px;
  text-decoration: none;
  text-transform: capitalize;
}
.package-details .pricing {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 10px;
  margin-top: 10px;
  align-items: center;
}
.package-details .pricing a {
  width: 40%;
  padding: 5px;
  font-size: 14px;
  color: whitesmoke;
  border: none;
  height: 40px;
  outline: none;
  background: linear-gradient(to right, #f4e185, hsl(220, 69.7%, 61.18%));
  text-decoration: none;
  border-radius: 7px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.package-details .pricing .cost p {
  color: #161f23;
  font-size: 17px;
}
.package-details .pricing .cost span {
  color: hsl(220, 69.7%, 61.18%);
  font-weight: bold;
}
.package-details .pricing .cost i {
  color: #161f23;
  font-size: 13px;
  margin-left: 10px;
}

.tour-details .main-header {
  width: 100%;
  height: 330px;
  position: relative;
}
.tour-details .main-header .position {
  background-color: rgba(21, 23, 24, 0.6941176471);
  height: 100%;
  width: 100%;
  position: absolute;
}
.tour-details .main-header .header {
  background-image: url("../../images/newslatter-bg.png");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  line-height: 2;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  height: 330px;
  padding: 20px;
  z-index: 10;
  margin: auto;
}
.tour-details .main-header .header h1 {
  color: whitesmoke;
  z-index: 2;
  font-size: 40px;
}
.tour-details .main-header .header .links {
  margin-top: -190px;
  z-index: 2;
  text-align: center;
}
.tour-details .main-header .header .links a {
  color: white;
  z-index: 2;
  text-decoration: none;
}
.tour-details .main-header .header .links a span {
  margin: 5px;
  padding: 5px;
}

.main-section {
  border: 2px solid green;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #ffffff;
}
.main-section .data-section {
  width: 70%;
  height: 100%;
  padding: 20px;
}
.main-section .data-section .upper {
  padding: 10px;
}
.main-section .data-section .upper .image1-section {
  height: 350px;
  border-radius: 10px;
}
.main-section .data-section .upper .image1-section img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.main-section .data-section .upper .title-section p {
  font-size: 23px;
  color: hsl(220, 69.7%, 61.18%);
  line-height: 1.4;
  margin-top: 20px;
}
.main-section .data-section .upper .title-section h1 {
  color: #161f23;
  font-size: 35px;
}
.main-section .data-section .lower-section {
  padding: 10px;
}
.main-section .data-section .lower-section p {
  font-size: 14px;
  line-height: 2;
}
.main-section .data-section .lower-section .secand-images {
  display: flex;
  justify-content: space-between;
  padding: 2px;
  width: 100%;
  align-items: center;
}
.main-section .data-section .lower-section .secand-images .imag1 {
  width: 55%;
  margin: 10px;
  height: 200px;
}
.main-section .data-section .lower-section .secand-images .imag1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.main-section .data-section .detail {
  padding: 10px;
}
.main-section .booking-section {
  width: 30%;
  height: 100%;
  padding: 20px;
}
.main-section .booking-section h1 {
  background-color: #2e373d;
  color: white;
  font-size: 18px;
  padding: 15px;
  border-radius: 5px;
  width: 105%;
}
.main-section .booking-section form {
  line-height: 4;
  padding: 10px;
  width: 105%;
  background-color: #fffafa;
}
.main-section .booking-section form input, .main-section .booking-section form textarea {
  border: 2px solid #f4e185;
  width: 98%;
  padding: 8px;
  border-radius: 5px;
}
.main-section .booking-section form button {
  width: 99%;
  padding: 5px;
  font-size: 14px;
  color: whitesmoke;
  border: none;
  height: 40px;
  outline: none;
  background: linear-gradient(to right, #f4e185, hsl(220, 69.7%, 61.18%));
  text-decoration: none;
  border-radius: 7px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-section .booking-section .related_packages {
  width: 105%;
  margin-top: 35px;
  padding: 10px;
}
.main-section .booking-section .related_packages h1 {
  width: 100%;
}
.main-section .booking-section .related_packages .card {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.main-section .booking-section .related_packages .card .left {
  width: 90px;
  height: 80px;
}
.main-section .booking-section .related_packages .card .left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}
.main-section .booking-section .related_packages .card .text {
  text-align: justify;
  margin-left: 20px;
}
.main-section .booking-section .related_packages .card .text h3 {
  font-size: 14px;
}
.main-section .booking-section .related_packages .card .text p {
  font-size: 14px;
  margin-top: 9px;
}
.main-section .booking-section .related_packages .card .text p span {
  color: hsl(220, 69.7%, 61.18%);
}/*# sourceMappingURL=index.css.map */